.login-container {
    padding: 3em;
    background-color: var(--bg-secondary);
    border: 2px solid transparent;
    border-radius: 1em;
    background-image: 
    linear-gradient(var(--bg-secondary), var(--bg-secondary)),
    linear-gradient(to right, var(--blue), var(--green));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    min-width: calc(100vw - 80%);
}

.login-divider {
    padding-block: 1em;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, var(--blue), var(--green));
    border-image-slice: 1;
}

.login-header-text {
    color: var(--blue-text);
    font-weight: bold;
    font-size: 1.25em;
    padding-block: 1em;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.btn-login {
    font-family: var(--font);
    font-size: 14px;
    font-weight: 700;
    color: var(--green-text);
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 1em;
    background-image: 
    linear-gradient(var(--bg-secondary), var(--bg-secondary)),
    linear-gradient(to right, var(--blue), var(--green));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    transition: background 0.2s;
}

.btn-voltar {
    text-align: center;
    color: var(--muted);
    text-decoration: none;
    font-weight: bold;
    padding-block: 1em;
}

.esqueci-senha-link {
    color: var(--blue-text);
    font-weight: bold;
    text-decoration: none;
}